body{
margin:0;
font-family:sans-serif;
background:#111;
color:white;
}

header{
text-align:center;
padding:60px 20px;
background:linear-gradient(135deg,#1a1a1a,#2d1b4d);
}

h1{
font-size:3rem;
}

nav{
background:#000;
padding:15px;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    margin:0;
    padding:0;
}

nav a{
color:white;
text-decoration:none;
}

.youtube-icon{
    width:40px;
    height:40px;
    object-fit:contain;
     display:block;
    transition:0.3s;
}

.youtube-icon:hover{
transform:scale(1.15);
}

.nav-icon{
    width:30px;
    height:30px;
    object-fit:contain;
    display:block;
    transition:0.3s;
}

.nav-icon:hover{
transform:scale(1.15);
}

section{
max-width:1000px;
margin:auto;
padding:50px 20px;
}

.card{
    background:#222;
    padding:25px;
    border-radius:15px;
    border:1px solid #7b4dff;
    box-shadow:0 0 15px rgba(123,77,255,0.3);
}

.gallery img{
max-width:300px;
width:100%;
}

footer{
text-align:center;
padding:30px;
background:#000;
}

.social-links{
display:flex;
justify-content:center;
gap:20px;
}

.social-links a{
background:#7b4dff;
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
}

.light-mode{
    background:#f5f5f5;
    color:#111;
}

.light-mode nav{
    background:#ddd;
}

.light-mode nav a{
    color:#111;
}

.light-mode .card{
    background:white;
    color:#111;
    border:1px solid #ccc;
    box-shadow:none;
}

.light-mode footer{
    background:#ddd;
    color:#111;
}

.light-mode .youtube-icon,
.light-mode .nav-icon{
    filter: invert(1);
}

.modal{
display:none;
position:fixed;
z-index:9999;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.modal-content{
background:#222;
color:white;
width:400px;
max-width:90%;
margin:100px auto;
padding:25px;
border-radius:15px;
border:1px solid #7b4dff;
position:relative;
}

#close-modal{
position:absolute;
right:15px;
top:10px;
font-size:28px;
cursor:pointer;
}

#theme-title{
cursor:pointer;
}

#theme-options{
display:none;
margin-top:15px;
}

.light-mode header{
    background:linear-gradient(135deg,#f0f0f0,#d8cfff);
}

.light-mode header h1{
    color:#222;
}

.light-mode header p{
    color:#444;
}

.light-mode header{
    background:linear-gradient(
        135deg,
        #f8f8f8,
        #e6dcff
    );
}

.site-logo{
    max-width:400px;
    width:70%;
    height:auto;
}

.subtitle{
    margin-top:20px;
    font-size:1.3rem;
    letter-spacing:1px;
}

.light-mode .modal-content{
    background:white;
    color:#111;
    border:1px solid #ccc;
}

.light-mode .modal-content .card{
    background:#f5f5f5;
    color:#111;
    border:1px solid #ccc;
    box-shadow:none;
}

.light-mode #theme-title{
    color:#111;
}

.light-mode #close-modal{
    color:#111;
}

body{
    user-select:none;
}

#contact{
    user-select:text;
}

.break{
    display:none;
}

.menu-toggle{
    display:none;
}

@media screen and (max-width:768px){
    .menu-toggle{
        display:block;
        position:fixed;
        top:15px;
        right:20px;

        width:30px;
        height:24px;

        cursor:pointer;
        z-index:10001;
    }

    .menu-toggle span{
        display:block;
        width:100%;
        height:3px;

        background:white;

        margin:5px 0;

        transition:0.3s ease;
    }

    .light-mode .menu-toggle span{
        background:#111;
    }

    .menu-toggle.active span:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2){
        opacity:0;
    }

    .menu-toggle.active span:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    
    #nav-menu{
        position:fixed;
        top:0;
        right:-300px;

        width:250px;
        height:100vh;

        background:#111;

        display:flex !important;
        flex-direction:column;

        justify-content:flex-start;
        align-items:center;
    
        gap:25px;
        padding-top:80px;

        transition:right 0.3s ease;

        z-index:10000;
    }

    #nav-menu.active{
        right:0;
    }

    .light-mode #nav-menu{
        background:#f5f5f5;
    }

}

#menu-overlay{
    display:none;
}

@media screen and (max-width:768px){

    #menu-overlay{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
        z-index:9999;
    }

    #menu-overlay.active{
        display:block;
    }

}
